.splash-background {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  position: relative;
}

.splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
