@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --color-background: #e5e5e5;
  --color-enabled: #c1deae;
  --color-enabled-dark: #b6eb7a;
  --color-disabled: #888888;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

button {
  cursor: pointer;
}
